* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

html,
body {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  color: #333;
  font-family: "Sawarabi Gothic";
  font-size: 16px;
  background-color: #fff;
  text-size-adjust: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

a:link {
  color: #333;
}

a:hover {
  color: #333;
}

a:visited {
  color: #333;
}

a:active {
  color: #333;
}

ul,
li {
  list-style: none;
}

input,
textarea,
select {
  display: block;
  appearance: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: 0;
}

.container {
  min-width: 100%;
  width: 100%;
  height: auto;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.br {
  content: "\A";
  display: block;
  white-space: pre;
}
