.video-player {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    button {
        padding: 0px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        appearance: none;
    }
    video {
        width: 100%;
        display: none;
        visibility: hidden;
    }
    .controls-wrapper {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        .controls {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            min-height: 30px;
            height: 5%;
            background-color: rgba(0, 0, 0, 0.5);
            .align-left {
                width: auto;
                height: 100%;
                float: left;
                .toggle-play {
                    button {
                        position: absolute;
                        top: 50%;
                        left: 30px;
                        width: 30px;
                        height: 30px;
                        transform: translateY(-50%);
                        i {
                            line-height: 30px;
                            text-align: center;
                            font-size: 1.25rem;
                            color: #fff;
                            display: block;
                        }
                    }
                    .controls-pause {
                        display: none;
                    }
                    .controls-play {
                        display: block;
                    }
                }
                .toggle-volume {
                    button {
                        position: absolute;
                        top: 50%;
                        left: 80px;
                        width: 30px;
                        height: 30px;
                        transform: translateY(-50%);
                        i {
                            line-height: 30px;
                            text-align: center;
                            font-size: 1.25rem;
                            color: #fff;
                            display: block;
                        }
                    }
                    .controls-volume-off {
                        display: none;
                    }
                    .ontrols-volume-on {
                        display: block;
                    }
                }
            }
            .align-center {
                .time {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-size: 0.75rem;
                    color: #fff;
                    transform: translate(-50%, -50%);
                }
            }
            .align-right {
                float: right;
                .controls-fullScreen {
                    position: absolute;
                    top: 50%;
                    right: 30px;
                    width: 30px;
                    height: 30px;
                    transform: translateY(-50%);
                    i {
                        line-height: 30px;
                        text-align: center;
                        font-size: 1.25rem;
                        color: #fff;
                        display: block;
                    }
                }
            }
        }
    }
}