@import "./shared/css/lib.scss";

.main-wrapper {
    width: 100%;
    height: auto;
    .main {
        width: 100%;
        height: auto;
        .front-wrapper {
            width: 100%;
            height: auto;
            .front {
                width: 100%;
                height: auto;
                .canvas-wrapper {
                    position: fixed;
                    top: 0px;
                    left: 0px;
                    width: 100vw;
                    height: 100vh;
                    overflow: hidden;
                }
            }
        }
    }
}